# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [43]:
a = 16
b = 16
print("Variables contains same value: ", a == b)
print("Variables refer to same place in memory: ", id(a) == id(b))

Variables contains same value:  True
Variables refer to same place in memory:  True

Як було сказано на лекції, -5 до 256 це діапазон чисел, який кешується, тому змінні посилаються на один і той самий обʼєкт в памʼяті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [7]:
val = True
num = 100
print("Variable 'var' contains value of type 'bool': ", isinstance(val, bool))
print("Variable 'num' contains value of type 'str' : ", isinstance(num, str))

Variable 'var' contains value of type 'bool':  True
Variable 'num' contains value of type 'str' :  False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
int_num = 80
float_num = 5.85
print("Addition: ", int_num + float_num)
print("Subtraction: ", int_num - float_num)
print("Division: ", int_num / float_num)
print("Multiplication: ", int_num * float_num)
print("Floor division: ", int_num // float_num)
print("Modulo division: ", int_num % float_num)
print("Exponentiation: ", float_num ** int_num)

Addition:  85.85
Subtraction:  74.15
Division:  13.675213675213676
Multiplication:  468.0
Floor division:  13.0
Modulo division:  3.9500000000000046
Exponentiation:  2.357595460264202e+61


4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [12]:
casted_int_num = int(float_num)
print("float_num type: ", type(float_num), ", value: ", float_num)
print("casted_int_num type: ", type(casted_int_num), ", value: ", casted_int_num)

bool_val = True
casted_int_num = int(bool_val)
print("boolean_var type:", type(bool_val), "and value:", bool_val)
print("casted_int_num type:", type(casted_int_num), "and value:", casted_int_num)

float_num type:  <class 'float'> , value:  5.85
casted_int_num type:  <class 'int'> , value:  5
boolean_var type: <class 'bool'> and value: True
casted_int_num type: <class 'int'> and value: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [29]:
string1 = ""
string2 = str()
print(string1)
print(string2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [44]:
string = "\'"
raw_string = r"\'"
print("String with apostroph: ", string)
print("Raw string with apostroph: ", raw_string)

String with apostroph:  '
Raw string with apostroph:  \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [19]:
surname = "Shlapak"
formatted_string = f"My surname is {surname}"
print(formatted_string)

My surname is Shlapak

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
string = "My dog is crazy."
print(string.lower().split(" "))

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [21]:
list1 = [1, 2, 3, 4]
list2 = list()
print("List1 length: ", len(list1))

List1 length:  4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [22]:
list1 = [1, 2]
list2 = [4, 5]
list1.append(list2)
print(list1)

[1, 2, [4, 5]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [24]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print(list_of_lists[-1][0])

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
strange_list = [(3, 2, 1), 0, 3.5, True, {1, 2, 3}, [1, 2, 3], (0, 1, 2), {'a': 2}, 99.9, -3]
sliced_list = strange_list[2:-2]
print(sliced_list)

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [27]:
t = (1,)
print("Tuple: ", t, ", Type: ", type(t))

Tuple:  (1,) , Type:  <class 'tuple'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список і кортеж обидва є послідовностями, які можуть містити елементи різних типів та підтримують індексацію \[\]. Основна відмінність полягає в тому, що список mutable, а кортеж — immutable. Завдяки цьому кортежі працюють швидше та можуть використовуватися як ключі в словниках. Списки застосовують, коли потрібно змінювати дані, а кортежі — коли потрібна фіксована структура.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [30]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
res = tuple1[::-2]
print(res)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [33]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add(3)
set1.add(True)
print(set1)

{1, 2, 3}

так, множини є mutable типом даних, бо вони дозволяють додавання нових елементів.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [35]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set1 = set(my_list)
print(set1)

{1, 2, 67, 8, 9}

Елементи зникли, тому що множини не можуть мати дублікатів за визначенням :)

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [36]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Union: ", set1.union(set2))
print("Intersection: ", set1.intersection(set2))
print("Difference: ", set1.difference(set2))
print("Symmetric Difference: ", set1.symmetric_difference(set2))

Union:  {1, 2, 3, 4, 5}
Intersection:  {3}
Difference:  {1, 2}
Symmetric Difference:  {1, 2, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [37]:
dictionary = {}
dictionary[True] = 1
dictionary['ABC'] = 999
dictionary[8.99] = 'Wow'
dictionary[20] = [1,2,3]
print(dictionary)

{True: 1, 'ABC': 999, 8.99: 'Wow', 20: [1, 2, 3]}

Список не може бути ключем, бо ключем може бути тільки незмінний тип даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dictionary = {
    "Title": 1.2,
    "Py": {
        "th": {
            "on": "Value inside!",
            True: False
        },
        "Charm": "yes"
    }
}
print(dictionary['Py']['th']['on'])

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.